<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/mobile.css">
<link rel="stylesheet" href="/css/aqua.css">
<script src="/js/basic.js" defer></script>

<link rel="icon" href="/img/favicon.png">
<title>Vylet Ponlde Revamp</title>