<div class="top">
  <div class="left">
    <button class="themeToggle">
      <img
        src="/img/daybreaker.png"
        onload="loadedImg(1)"
        alt="Switch between dark mode and light mode"
      />
    </button>
  </div>
  <div class="right">
    <img src="/img/volumeLight.png" alt="Volume icon" class="volIcon">
    <input type="range" min="0" max="1" step="0.01" class="volumeSlider">
  </div>
</div>

<div class="center">
  <img src="/logo.webp" onload="loadedImg(2)" class="logo" alt="Logo: Vylet Ponlde" />
  <!-- H1 for search engine semantics -->
  <div class="navigation">
    <h1 class="tagline">the daily <a href="https://vyletpony.com/?utm_source=vyletponlde-revamp" target="_blank">vylet pony</a> song guessing game</h1>
    <p class="authors">
      original by
      <a href="https://bsky.app/profile/lifelike.dev" target="_blank"
        >VilleOlof</a
      >, revamped by
      <a href="https://coding398.dev/?utm_source=vyletponlde-revamp" target="_blank">coding398</a>
    </p>
    <p>— †† —</p>
  </div>
</div>
