@media only screen and (max-width: 1000px) {
  body {
    margin: 1rem;
    margin-top: 6rem;
  }
  .top {
    top: 1rem;
  }

  .guessWrapper {
    width: 300px !important;
    aspect-ratio: 5/1 !important;
  }

  .finishedSong {
    width: 300px !important;
  }

  .guessInput {
    aspect-ratio: 8/1 !important;
  }

  .resultBox {
    width: calc(100% - 5rem) !important;
  }

  .resultsList .result {
    width: 330px !important;
  }

  .result .indicators div {
    width: 24px !important;
  }
}
