@media only screen and (max-width: 1000px) {
  body {
    padding: 1rem;
    padding-top: 10rem;
  }
  .top {
    top: 1rem;
  }

  .guessWrapper {
    width: 300px !important;
    aspect-ratio: 5/1 !important;
  }

  .finishedSong {
    width: 300px !important;
  }

  .guessInput {
    aspect-ratio: 8/1 !important;
  }

  .resultBox {
    width: calc(100% - 5rem) !important;
  }

  .resultsList .result {
    width: 330px !important;
  }

  .result .indicators div {
    width: 24px !important;
  }

  body .lbContainer {
    flex-direction: column;
    gap: 2rem;
  }
  .lbContainer .leaderboard {
    margin: 0;
    padding: 0;
    border-left: none;
  }
}
