<div id="loaderWrap">
  <div id="loader">
    <div class="blocks">
      <div style="background: red"></div>
      <div style="background: green"></div>
      <div style="background: blue"></div>
    </div>
    <p class="loadingUA">.</p>
    <p class="loadingText">loading dom content...</p>
  </div>
</div>
