<title>huh?</title>
<video src="/huh.mp4" controls autoplay></video>
<style>
  body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  video{
    max-width: 100%;
  }
</style>