<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("blocks/preloads") %> <%- include("blocks/basicHead") %>
  </head>
  <body>
    <%- include("blocks/titlebar") %>

    <div class="center">
      <h1>🚨 confirm you are worthy 🚨</h1>
      <p>please click the odd one out and/or creekflow in the following images</p>
      <img src="/img/creekcaptcha/1.jpg" id="creekImage">
      <p id="bgCredit">bg credit</p>

      <script src="/js/creekcaptcha.js"></script>
    </div>
  </body>
</html>
