<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("blocks/preloads") %> <%- include("blocks/basicHead") %>
  </head>
  <body>
    <%- include("blocks/titlebar") %>

    <div class="center">
      <p style="margin: 0">.-* play *-.</p>
      <div class="buttonArray">
        <button class="shinyButton blueButton" onclick="window.location.href='/daily'">daily</button>
        <button class="shinyButton" onclick="window.location.href='/archive'">archive</button>
        <button class="shinyButton" onclick="window.location.href='/infinite'">infinite</button>
      </div>
      <p style="margin: 0">.-* easy mode *-.</p>
      <div class="buttonArray">
        <button class="shinyButton blueButton" onclick="window.location.href='/easy'">daily</button>
        <button class="shinyButton" onclick="window.location.href='/archive/easy'">archive</button>
        <button class="shinyButton" onclick="window.location.href='/easy/infinite'">infinite</button>
      </div>
      <p style="margin: 0">.-* special *-.</p>
      <div class="buttonArray">
        <button class="shinyButton" onclick="window.location.href='/classic'">classic</button>
        <button class="shinyButton" onclick="window.location.href='/hardcore'">hardcore</button>
        <button class="shinyButton" onclick="window.location.href='/oneshot'">oneshot</button>
        <button class="shinyButton" onclick="window.location.href='/lodestar'">lodestar</button>
      </div>
      <p style="margin: 0">.-* info *-.</p>
      <div class="buttonArray">
        <button class="shinyButton" onclick="window.location.href='/about'">about</button>
        <button class="shinyButton" onclick="window.location.href='/songs'">songs list</button>
      </div>
      <video src="/splish-cat.mp4" style="max-width: 100%;" autoplay muted loop></video>
    </div>

    <script src=""></script>
  </body>
</html>
